<%- include('./includes/head.ejs') %>
</head>
<body>
    <%- include('./includes/nav.ejs') %>
    <main>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
          <br><br>
          <h1 class="header center deep-purple-text text-darken-1">Welcome to Flix!</h1>
          <div class="row center">
            <h5 class="header col s12 light">Currently containing <%= movies %> movies</h5>
          </div>
          </div>
          <div class="container">
            <div clas="row center-align">
              <div class="col l6 m4 s12">
            <p>Welcome to Flix. Flix contains movie information of both US domestic and International films ranging from the years 1970 to 2020.
              Flix also provides visualization tools that allow you to analyze movies to see whether any trends might be occurring.
            </p>
            </div>
            </div>
          </div>
          <div class="container">
            <div class="row center-align">
              <form action="/" method="POST">
                <button class="btn purple darken-1" type="submit">Get Total Records</button>
              </form>
            </div>
            <div class="row center-align">
              
                <p style="font-size:18px; display:<%= (typeof(hidden) == "undefined") ? 'none' : hidden %>">Total Records:  <%= (typeof(total) == "undefined") ? '' : total %></p>                
              
            </div>
          </div>
            
    </div>   
  </main>
<%- include('./includes/end.ejs') %>