<%- include('./includes/head.ejs') %>
</head>
<body>
    <%- include('./includes/nav.ejs') %>
    <main>
    <div class="container">
        <div class="row">
            <h2>Earnings</h2>
            <p>This visualization allows for a selection of a year from 1970 to 2020 and displays total box office earnings in millions for each month.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col m6 offset-m3">
            <div class="card grey lighten-4 z-depth-2">
                <div class="card-content pink-text darken-3">
                    <span class="card-title">Earnings Per Month Per Year</span>
                    <form action="/querytwo" method="POST">
                    <div class="input field">
                        <label for="year">Year</label>
                        <input class="validate" type="number" name="year" min="1970" max="2020" required>                        
                    </div>                    
                    <br>
                    <button class="btn purple darken-1" type="submit">Submit</button>
                    </form>                    
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col l12 offset-l2 m10 offset-m1">
                <% if((typeof(first_query) == "undefined") ? '' : first_query) { %>             
                <canvas id="pie-chart" width="750" height="750"></canvas>
            </div>
        </div>
    </div>
    <script>
    
            //Second Graph Information    

            let status2 = '<%= (typeof(first_query) == "undefined") ? '' : first_query %>';
            
            let monthlyData;
            let chartOptions;                      

            if(status2 == 'true'){

                //Chart Data
                monthlyData = '<%- JSON.stringify(data)%>'
                monthlyData= JSON.parse(monthlyData);
                
                //Chart Options
                chartOptions = '<%- JSON.stringify(chartOptions)%>'
                chartOptions = JSON.parse(chartOptions);
            }            

            let monthlyCanvas = document.getElementById("pie-chart");
            let pieChart = new Chart(monthlyCanvas, {
                type: 'pie',
                data: monthlyData,
                options: chartOptions
            }); 
    </script>
    <% } %>
    <br>
<%- include('./includes/end.ejs') %>