<%- include('./includes/head.ejs') %>
</head>
<body>
    <%- include('./includes/nav.ejs') %>
    <main>
    <div class="container">
        <div class="row">
            <h2>Oscars</h2>
            <p>The Actors and Directors visualization shows the number of Actors or Directors that have worked on Oscar awarded movies. Oscar awarded movies are considered any movie that has won in Oscar in some category. 
                Additionally, the last visualization allows the examination of average critics scores in the form of RottenTomatoes and MetaCritic Scores and compares them to average consumer ratings that are in the form of the Imdb Average score.
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col m6 offset-m3">
            <div class="card grey lighten-4 z-depth-2">
                <div class="card-content pink-text darken-3">
                    <span class="card-title">Actors that worked on Most Oscar Awarded Movies</span>
                    <form action="/querythree" method="POST">
                    <div class="input field">
                        <label for="year">From Year</label>
                        <input class="validate" type="number" name="fromyear" min="1970" max="2020" required>                        
                    </div>
                    <div class="input field">
                        <label for="year">To Year</label>
                        <input class="validate" type="number" name="toyear" min="1970" max="2020" required>                        
                    </div>          
                     
                    <button class="btn purple darken-1" type="submit">Submit</button>
                    </form>                    
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <% if((typeof(first_query) == "undefined") ? '' : first_query) { %>           
            <canvas id="barChart" width="900" height="500"></canvas>
            
            <script>
                let status = '<%= (typeof(first_query) == "undefined") ? '' : first_query %>';
                            
                let ActorData;
                let chartOptions;                      

                if(status == 'true'){

                    //Chart Data
                    ActorData = '<%- JSON.stringify(data)%>'
                    ActorData = JSON.parse(ActorData);
                
                    //Chart Options
                    chartOptions = '<%- JSON.stringify(chartOptions)%>'
                    chartOptions = JSON.parse(chartOptions);
                } 
    
                const ctx = document.getElementById('barChart').getContext('2d');
                const myChart = new Chart(ctx, {
                    type: 'bar',
                    data: ActorData,
                    options: chartOptions,
                });
            </script>
            <% } %>            
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col m6 offset-m3">
            <div class="card grey lighten-4 z-depth-2">
                <div class="card-content pink-text darken-3">
                    <span class="card-title">Directors that worked on Most Oscar Awarded Movies</span>
                    <form action="/querythreep2" method="POST">
                    <div class="input field">
                        <label for="year">From Year</label>
                        <input class="validate" type="number" name="fromyear" min="1970" max="2020" required>                        
                    </div>
                    <div class="input field">
                        <label for="year">To Year</label>
                        <input class="validate" type="number" name="toyear" min="1970" max="2020" required>                        
                    </div>          
                     
                    <button class="btn purple darken-1" type="submit">Submit</button>
                    </form>                    
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <% if((typeof(second_query) == "undefined") ? '' : second_query) { %>           
            <canvas id="barChart" width="900" height="500"></canvas>
            
            <script>
                let status = '<%= (typeof(second_query) == "undefined") ? '' : second_query %>';
                            
                let DirectorData;
                let chartOptions;                      

                if(status == 'true'){

                    //Chart Data
                    DirectorData = '<%- JSON.stringify(data)%>'
                    DirectorData = JSON.parse(DirectorData);
                
                    //Chart Options
                    chartOptions = '<%- JSON.stringify(chartOptions)%>'
                    chartOptions = JSON.parse(chartOptions);
                } 
    
                const ctx = document.getElementById('barChart').getContext('2d');
                const myChart = new Chart(ctx, {
                    type: 'bar',
                    data: DirectorData,
                    options: chartOptions,
                });
            </script>
            <% } %>            
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col m6 offset-m3">
            <div class="card grey lighten-4 z-depth-2">
                <div class="card-content pink-text darken-3">
                    <span class="card-title">Average Ratings of Critics and Consumers for Oscar Awarded Movies </span>
                    <form action="/querythreep3" method="POST">
                    <div class="input field">
                        <label for="year">From Year</label>
                        <input class="validate" type="number" name="fromyear" min="1970" max="2020" required>                        
                    </div>
                    <div class="input field">
                        <label for="year">To Year</label>
                        <input class="validate" type="number" name="toyear" min="1970" max="2020" required>                        
                    </div>          
                     
                    <button class="btn purple darken-1" type="submit">Submit</button>
                    </form>                    
                </div>
            </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <% if((typeof(third_query) == "undefined") ? '' : third_query) { %>           
            <canvas id="barChart" width="900" height="500"></canvas>
            
            <script>
                let status = '<%= (typeof(third_query) == "undefined") ? '' : third_query %>';
                            
                let RatingsData;
                let chartOptions;                      

                if(status == 'true'){

                    //Chart Data
                    RatingsData = '<%- JSON.stringify(data)%>'
                    RatingsData = JSON.parse(RatingsData);
                
                    //Chart Options
                    chartOptions = '<%- JSON.stringify(chartOptions)%>'
                    chartOptions = JSON.parse(chartOptions);
                } 
    
                const ctx = document.getElementById('barChart').getContext('2d');
                const myChart = new Chart(ctx, {
                    type: 'line',
                    data: RatingsData,
                    options: chartOptions,
                });
            </script>
            <% } %>            
        </div>
    </div>
    <br>
    <br>
        

<%- include('./includes/end.ejs') %>